.numbers {
  padding: 40px 0;
  display: flex;
  flex-direction: column;

  .grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "topleft mid topright"
      "botleft mid botright";
    margin-top: 50px;
  }

  .number-item {
    padding: 20px 0;
    font-size: 1.4em;
    text-align: center;
    border: 5px solid #fff;

    &:nth-child(1) {
      background: #161e21;
      grid-area: mid;
      padding: 0 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &:nth-child(2) {
      grid-area: topleft;
      border-top-left-radius: 20px;
      background: #7b55a6;
    }

    &:nth-child(3) {
      grid-area: topright;
      border-top-right-radius: 40px;
      background: #04c0a6;
    }

    &:nth-child(4) {
      grid-area: botleft;
      background: #87cffd;
    }

    &:nth-child(5) {
      grid-area: botright;
      background: #ff4b51;
    }

    h2 {
      font-weight: 500;
      font-size: 2.5rem;
      color: #ececec;
    }

    h6 {
      font-weight: 300;
      color: #ececec;
      text-transform: uppercase;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .nb {
    margin: 20px 10px;
  }
}